<div class="container details">
    <div class="details-content">
        <h2>{{article.title}}</h2>
        <strong>{{article.category}}</strong>
        <p>{{article.content}}</p>
        <div class="buttons">
            {{#if isAuthor}}
            <button id="delete-{{article.id}}" class="btn delete">Delete</button>
            <a href="#/edit/{{article.category}}/{{article.id}}" class="btn edit">Edit</a>
            {{else}}
            <a href="#/" class="btn back">Back</a>
            {{/if}}
        </div>
    </div>
</div>