<div {{idea}} class="container home some">
    <img class="det-img" src="{{idea.imageURL}}"/>
    <div class="desc">
        <h2 class="display-5">{{idea.title}}</h2>
        <p class="infoType">Description:</p>
        <p class="idea-description">{{idea.description}}</p>
        <p class="infoType">Likes:
            <large>{{idea.likes}}</large>
        </p>
        <p class="infoType">Comments:</p>
        <ul>
            {{#if hasComment}}
                {{#each idea.comments as |comment|}}
                    <li class="comment">{{comment.email}}: {{comment.comment}}</li>
                {{/each}}
            {{else}}
                <li class="comment">No comments yet :(</li>
            {{/if}}
        </ul>
    </div>
    {{#if isAuthor}}
        <div class="text-center">
            <a id="delete-{{idea.id}}" class="btn detb" href="#/dashboard">Delete</a>
        </div>
    {{else}}
        <form class="text-center" action="#/details/{{idea.id}}">
            <textarea class="textarea-det" name="newComment" id="comment-{{idea.id}}"></textarea>
            <button id="commentBtn-{{idea.id}}" type="submit" class="btn detb">Comment</button>
            <a id="like-{{idea.id}}" class="btn detb" href="#/details/{{idea.id}}">Like</a>
        </form>
    {{/if}}
</div>
